# docker/docker-compose.yaml
version: '3.8'

services:
  ca-org1:
    image: hyperledger/fabric-ca:1.5.7
    environment:
      - FABRIC_CA_SERVER_HOME=/etc/hyperledger/ca.org1.example.com
      - FABRIC_CA_SERVER_PORT=7054
    ports:
      - "7054:7054"
    volumes:
      - ../ca.org1.example.com:/etc/hyperledger/ca.org1.example.com
    
    deploy:
      placement:
        constraints:
          - node.id == 1gcph08u7zhopcn0vaap94ehp 
    networks:
      fabric_default:
          aliases:
          - ca.org1.example.com
  orderer:
    image: hyperledger/fabric-orderer:2.5.6
    environment:
      - ORDERER_GENERAL_LISTENADDRESS=0.0.0.0
      - ORDERER_GENERAL_LISTENPORT=7050
      - ORDERER_GENERAL_LOCALMSPID=OrdererMSP
      - ORDERER_GENERAL_LOCALMSPDIR=/etc/hyperledger/fabric/msp
      - ORDERER_GENERAL_TLS_ENABLED=true
      - ORDERER_GENERAL_TLS_PRIVATEKEY=/etc/hyperledger/fabric/tls/keystore/e063143deaaebe760ce2db3fba2df6d6f2c0aed4b03a1935b9c819207d423696_sk
      - ORDERER_GENERAL_TLS_CERTIFICATE=/etc/hyperledger/fabric/tls/signcerts/cert.pem
      - ORDERER_GENERAL_TLS_ROOTCAS=/etc/hyperledger/fabric/tls/tlsrootcert/tls-cert.pem
      - ORDERER_GENERAL_BOOTSTRAPMETHOD=file
      - ORDERER_GENERAL_BOOTSTRAPFILE=/etc/hyperledger/tools/system-genesis-block/genesis.block    
      - ORDERER_GENERAL_GENESISMETHOD=file  
    ports:
      - "7050:7050"
    volumes:
      - /home/tvboxreceita/hyperledger/orderer.example.com/fabric:/etc/hyperledger/fabric
      - /home/tvboxreceita/hyperledger/tools:/etc/hyperledger/tools
      - /home/tvboxreceita/hyperledger/tools/config/orderer.yaml:/etc/hyperledger/fabric/orderer.yaml
      - /home/tvboxreceita/hyperledger/orderer.example.com/production:/var/hyperledger/production

    depends_on:
      - ca-org1
    
    deploy:
      placement:
        constraints:
        - node.id == 1gcph08u7zhopcn0vaap94ehp
    networks:
      - fabric_default
  peer0-org1:
    image: hyperledger/fabric-peer:2.5.6
    environment:
      - CORE_PEER_ID=peer0.org1.example.com
      - CORE_PEER_ADDRESS=peer0-org1:7051
      - CORE_PEER_LISTENADDRESS=0.0.0.0:7051
      - CORE_PEER_CHAINCODEADDRESS=peer0-org1:7052
      - CORE_PEER_CHAINCODELISTENADDRESS=0.0.0.0:7052
      - CORE_PEER_GOSSIP_BOOTSTRAP=peer0-org1:7051
      - CORE_PEER_GOSSIP_EXTERNALENDPOINT=peer0-org1:7051
      - CORE_PEER_LOCALMSPID=Org1MSP
      - CORE_PEER_MSPCONFIGPATH=/etc/hyperledger/fabric/msp
      - CORE_PEER_TLS_ENABLED=true
      - CORE_PEER_TLS_CERT_FILE=/etc/hyperledger/fabric/tls/signcerts/cert.pem
      - CORE_PEER_TLS_KEY_FILE=/etc/hyperledger/fabric/tls/keystore/86306f475d94dd00d66f167c8eb5e9c5528b0fde131e36d52a7442bfa59fa5b7_sk
      - CORE_PEER_TLS_ROOTCERT_FILE=/etc/hyperledger/fabric/tls/tlsrootcert/tls-cert.pem
      - ORDERER_URI=orderer:7050 
    working_dir: /etc/hyperledger
    ports:
      - "7051:7051"
      - "7052:7052"
    volumes:
      - /home/tvboxreceita/hyperledger/peer0.org1.example.com/fabric:/etc/hyperledger/fabric
      - /var/run/docker.sock:/var/run/docker.sock
      - /home/tvboxreceita/hyperledger/peer0.org1.example.com/production:/var/hyperledger/production
    depends_on: 
      - orderer
    
    deploy:
      placement:
        constraints:
          - node.id == i29rfhvudzb3ifbu887potgxc
    networks:
      - fabric_default
  cli-peer0:
    image: hyperledger/fabric-tools:2.5.6
    tty: true
    stdin_open: true
    environment:
      - CORE_PEER_ADDRESS=peer0-org1:7051
      - CORE_PEER_LOCALMSPID=Org1MSP
      - CORE_PEER_TLS_ENABLED=true
      - CORE_PEER_TLS_ROOTCERT_FILE=/etc/hyperledger/fabric/tls/tlsrootcert/tls-cert.pem
      - CORE_PEER_MSPCONFIGPATH=/etc/hyperledger/fabric/msp
      - CORE_CHAINCODE_BUILDER=hyperledger/fabric-ccenv:2.4.9
      - CORE_CHAINCODE_NODE_RUNTIME=hyperledger/fabric-nodeenv:2.4.9
    working_dir: /etc/hyperledger
    command: /bin/bash
    volumes:
      - /home/tvboxreceita/hyperledger/cli.example.com/fabric:/etc/hyperledger/fabric
      - /home/tvboxreceita/hyperledger/tools:/etc/hyperledger/tools
    
    deploy:
      placement:
        constraints:
          - node.id == i29rfhvudzb3ifbu887potgxc
    networks:
      - fabric_default
networks:
  fabric_default:
    external: true
